<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Financeiro</title>
  <link rel="stylesheet" href="css/motorista.css">
</head>

<body>
  <div class="container">
    <header>
        <div class="header__container">
          <div class="top__menu">
            <div class="menu" onclick="toggleMenu(this)">
                <img src="imagens/menu-app-vpo.png" alt="Menu">
                <ul class="submenu">
                    <li><a href="#">Opção 1</a></li>
                    <li><a href="#">Opção 2</a></li>
                    <li><a href="#">Opção 3</a></li>
                    <li><a href="#">Opção 4</a></li>
                    <li><a href="#">Opção 5</a></li>
                </ul>
            </div>
        </div>
        
            <div class="top__menu">
              <p>Vai Pronde? <br> para motoristas !</p>
            </div>
            
            <div class="top__menu">
                <div class="van">
                <img src="imagens/logo.gif">
            </div>
            </div>
            
       
        </div>

        <nav>

        <ul>
            <li><a href="motoristaapp.html">Home</a></li>
            <li><a href="vinculo.html">Vinculação</a></li>
            <li><a href="standby.html">Standby</a></li>
            <li><a href="financeiro.html" class="financeiro">Financeiro</a></li>
            <li><a href="perfil.html">Perfil</a></li>

        </ul>
        </nav>
    </header>

    <div class="home__container">
      <div class="linha"><hr></div>
      <div class="encapsulo2__perfil">
        <h1>Financeiro</h1>
      
          <div class="lados">Saldo Disponivel:<br><h1>R$ 355,09</h1> <div class="bloco1"></div></div>
          <div class="lados">Saldo Pendente:<br><h1>R$ 0,00</h1><div class="bloco2"></div></div>
            <button>Efetuar Saque</button>
        </div>
  </div>




  <script>
    function toggleMenu(menu) {
        var submenu = menu.querySelector('.submenu');
        submenu.style.display = (submenu.style.display === 'block' || submenu.style.display === '') ? 'none' : 'block';
    }
</script>
<footer class="f2">
  <p>&copy; 2023 VaiPronde. Todos os direitos reservados.</p>
</footer>
</body>

</html>

