* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.menu ul li a:hover {
  border-bottom: 5px solid midnightblue;
}

.menu p {
  background-color: MidnightBlue;
  padding: 5px;
  color: azure;
}

.menu p:hover {
  background-color: SteelBlue;
  color: MidnightBlue;
}

header img {
  width: 100%;
  max-width: 200px;
}

header {
  grid-area: h;
  background-color: DeepSkyBlue;
  width: 100%;
  padding: 10px;
  text-align: center;
}

#logo1 {
  max-width: 80%;
  margin: 0 auto;
}

.menu ul {
  list-style: none;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}

#sessao1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, DeepSkyBlue, rgb(148, 193, 230));
}

#sessao1>h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin: 2rem 0;
}

#sessao1>img {
  max-width: 100%;
  border-radius: 10px;

}

#sessao2 {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 2rem;
}

#sessao2>h1 {
  font-size: 2rem;
  color: MidnightBlue;
}

#sessao2>p {
  font-size: 1.5rem;
  color: DeepSkyBlue;
  margin: 1.5rem 0;
}

#sessao2>img {
  max-width: 100%;
  border-radius: 10px;

}

#sessao3 {
  text-align: center;
  padding: 2rem;
}

#sessao3 h2 {
  font-size: 2rem;
  color: MidnightBlue;
  margin: 2rem 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.container>article {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 1rem;
}

.container h3 {
  font-size: 1.5rem;
  color: MidnightBlue;
  margin: 0.5rem 0;
}

.container p {
  font-size: 1rem;
  color: DeepSkyBlue;
  margin: 0.5rem 0;
}

@media (max-width: 750px) {
  #logo1 {
      max-width: 100%;
  }

  .menu ul {
      flex-direction: column;
      align-items: center;
  }

  .menu ul li {
      margin: 10px 0;
  }

  #sessao1>h1 {
      font-size: 1.5rem;
  }

  #sessao2>h1 {
      font-size: 1.5rem;
  }

  #sessao2>p {
      font-size: 1rem;
  }

  #sessao3 h2 {
      font-size: 1.5rem;
  }
}
