<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Standby</title>
  <link rel="stylesheet" href="css/motorista.css">
</head>

<body>
  <div class="container">
    <header>
        <div class="header__container">
          <div class="top__menu">
            <div class="menu" onclick="toggleMenu(this)">
                <img src="imagens/menu-app-vpo.png" alt="Menu">
                <ul class="submenu">
                    <li><a href="#">Opção 1</a></li>
                    <li><a href="#">Opção 2</a></li>
                    <li><a href="#">Opção 3</a></li>
                    <li><a href="#">Opção 4</a></li>
                    <li><a href="#">Opção 5</a></li>
                </ul>
            </div>
        </div>
        
            <div class="top__menu">
              <p>Vai Pronde? <br> para motoristas !</p>
            </div>
            
            <div class="top__menu">
                <div class="van">
                <img src="imagens/logo.gif">
            </div>
            </div>
            
       
        </div>

        <nav>

        <ul>
            <li><a href="motoristaapp.html">Home</a></li>
            <li><a href="vinculo.html">Vinculação</a></li>
            <li><a href="standby.html" class="standby">Standby</a></li>
            <li><a href="financeiro.html">Financeiro</a></li>
            <li><a href="perfil.html">Perfil</a></li>

        </ul>
        </nav>
    </header>

    <div class="home__containers">
      <div class="linha"><hr></div>
        <div class="standby">
            <h2>Em Standby - Sem Rotas Disponíveis</h2>
            <p>Aguarde enquanto procuramos por viagens para você.</p>
            <button>Atualizar</button>
          </div>
  </div>




  <script>
    function toggleMenu(menu) {
        var submenu = menu.querySelector('.submenu');
        submenu.style.display = (submenu.style.display === 'block' || submenu.style.display === '') ? 'none' : 'block';
    }
</script>
<footer class="f2">
  <p>&copy; 2023 VaiPronde. Todos os direitos reservados.</p>
</footer>
</body>

</html>

