<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vinculação</title>
  <link rel="stylesheet" href="css/motorista.css">
</head>

<body>
  <div class="container">
    <header>
        <div class="header__container">
          <div class="top__menu">
            <div class="menu" onclick="toggleMenu(this)">
                <img src="imagens/menu-app-vpo.png" alt="Menu">
                <ul class="submenu">
                    <li><a href="#">Opção 1</a></li>
                    <li><a href="#">Opção 2</a></li>
                    <li><a href="#">Opção 3</a></li>
                    <li><a href="#">Opção 4</a></li>
                    <li><a href="#">Opção 5</a></li>
                </ul>
            </div>
        </div>
        
            <div class="top__menu">
              <p>Vai Pronde? <br> para motoristas !</p>
            </div>
            
            <div class="top__menu">
                <div class="van">
                <img src="imagens/logo.gif">
            </div>
            </div>
            
       
        </div>

        <nav>

        <ul>
            <li><a href="motoristaapp.html">Home</a></li>
            <li><a href="vinculo.html" class="vinculo">Vinculação</a></li>
            <li><a href="standby.html">Standby</a></li>
            <li><a href="financeiro.html">Financeiro</a></li>
            <li><a href="perfil.html">Perfil</a></li>

        </ul>
        </nav>
    </header>

    <div class="home__containerv">
        <div class="linha"><hr></div>
        <div id="tituloVincular" class="titulo">Vincular viagem</div>
        <div class="formulario">
            <label for="idViagem">ID da Viagem:</label>
            <input type="text" id="idViagem" placeholder="Digite o ID da Viagem">
    
            <label for="codigoMotorista">Código do Motorista:</label>
            <input type="text" id="codigoMotorista" placeholder="Digite seu código de motorista">
    
            <button id="btnVincularViagem" onclick="vincularViagem()">Vincular Viagem</button>
        </div>

  </div>



  <script>
    function toggleMenu(menu) {
        var submenu = menu.querySelector('.submenu');
        submenu.style.display = (submenu.style.display === 'block' || submenu.style.display === '') ? 'none' : 'block';
    }
</script>
<footer class="f2">
  <p>&copy; 2023 VaiPronde. Todos os direitos reservados.</p>
</footer>
</body>

</html>

